<% provide(:title, "Вход") %>
<div id="session-container">
    <div id='session-side'></div>
    <div id='session-form'>
        <%= form_for(:session, url: login_path ) do |f| %>
            <h1 id="main-title">Вход</h1>
            <%= f.email_field :email, placeholder: 'Почта' %>
            <%= f.password_field :password, placeholder: 'Пароль' %>
            <%= f.submit "Войти", id: "session-form-btn" %>
            <p>Впервые на сайте? Тогда <%= link_to "регистрируйся", signup_path %>.</p>
        <% end %>
    </div>
</div>