<% provide(:title, @user.name) %>

<div class="user-profile-nav">
    <ul>
        <li><%= link_to 'Общее', '#' %></li>
        <li><%= link_to 'Посты', '#' %></li>
        <li><%= link_to 'Комменты', '#' %></li>
        <h3 class="user-profile-count-post">Количество постов: <%= @user.microposts.count %></h3>
    </ul>
</div>

<div id="container">
    <div id="microposts-container">
        <% if @user.microposts.any? %>
            <%= render @microposts %>
        <% end %>
    </div>
    <%= render 'shared/profile' %>
</div>
