<% provide(:title, @user.name) %>

<div class="user-profile-nav">
    <ul>
        <li><%= link_to 'Общее', '#' %></li>
        <li><%= link_to 'Посты', '#' %></li>
        <li><%= link_to 'Комменты', '#' %></li>
        <h3 class="user-profile-count-post">Количество постов: <%= @user.microposts.count %></h3>
    </ul>
    
</div>
<div class="user-profile-container">
    <div class="user-profile-middle">
        <% if @user.microposts.any? %>
            <ol class="user-profile-microposts">
                <%= render @microposts %>
            </ol>
        <% end %>
    </div>
    <div class="user-profile-right-panel"> 
        <div class="user-profile-front">
            <p>Рисунок</p>
            <p><%= @user.name %></p>
        </div>
        <div class="user-profile-info">
            <p>Рейтинг</p>
            <p>День регистрации</p>
        </div>
        <%= link_to 'Создать пост', '/submit_post' %>
    </div>
</div>
