<% provide(:title, "Справочник") %>

<div id="handbook-container">
    <div class="handbook-div">
        <%= link_to 'Магазины', '#', class: "handbook-btn" %>
        <ul>
            <li><%= link_to '1', '#' %></li>
            <li><%= link_to '2', '#' %></li>
            <li><%= link_to '3', '#' %></li>
            <li><%= link_to '4', '#' %></li>
            <li><%= link_to '5', '#' %></li>
        </ul>
    </div>
    <div class="handbook-div">
        <%= link_to 'Клубы', '#', class: "handbook-btn" %>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>
    <div class="handbook-div">
        <%= link_to 'Еда', '#', class: "handbook-btn" %>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>     
    <div class="handbook-div">
    <%= link_to 'Школы', '#', class: "handbook-btn" %>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>
    <div class="handbook-div">
        <%= link_to 'Спорт', '#', class: "handbook-btn" %>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>
</div>