<%= form_with(model: @micropost, class: 'form') do |f| %>
    <%= render 'shared/error_messages', object: f.object %> 
    <div class="micropost-form-field">
        <h1 class="main-title"><%= yield(:title)%></h1>
        <div id="tags-all">
         <p class="tag-title">Добавить метки:</p>
            <%= render partial: 'shared/tag', collection: @tags %>
        </div>
        <% unless @micropost.tags.empty? %>
            <div id="tags-post">
                <p class="tag-title">Метки поста: </p>
                <%= render partial: 'shared/tag', collection: @micropost.tags %>
            </div>
        <% end %>
        <%= f.text_area :content, placeholder: "Напишите сообщение...", class: 'micropost-textarea', maxlength: '300' %>
        <%= f.submit yield(:button_text),  class: "micropost-form-btn" %>  
        <%= hidden_field_tag 'inactive_tags', '' %>
        <%= hidden_field_tag 'active_tags', '' %>
    </div>
<% end %>
<%= render partial: 'form_tag_add' %>