<header>
    <nav>
        <h1>LOGO</h1>
        <div id='common-nav'>
            <%= link_to "Главная", controller: "welcome", action: "index" %>
            <%= link_to "Новости", controller: "news_items", action: "index" %>
            <%= link_to "Посты", controller: "microposts", action: "index" %>
        </div>
        <% if logged_in? %>
            <div id="account-div">
                <%= link_to "Аккаунт", "#", id: "account" %>
                <div id="closed">
                    <%= link_to "Профиль", current_user %>
                    <%= link_to "Настройки", edit_user_path(current_user) %>
                    <%= link_to "Выйти", logout_path, method: :delete %>
                </div>
            </div>
        <% else %>
            <div id="signup-signin">
                <%= link_to "Регистрация", signup_path, id: 'signup' %>
                <%= link_to "Вход", login_path, id: 'signin' %>
            </div>
        <% end %>
    </nav>
</header>