<header>
    <nav>
        <ul>
            <li><%= link_to "Главная", controller: "welcome", action: "index" %></li>
            <li><%= link_to "Новости", controller: "news_items", action: "index" %></li>
            <li><%= link_to "Посты", controller: "microposts", action: "index" %></li>
            <% if logged_in? %>
                <li><%= link_to "Пользователи", users_path %></li>
                <li><%= link_to "Аккаунт", "#", id: "account" %>
                    <ul id="closed">
                        <li><%= link_to "Профиль", current_user %></li>
                        <li><%= link_to "Настройки", edit_user_path(current_user) %></li>
                        <hr/>
                        <li><%= link_to "Выйти", logout_path, method: :delete %></li>
                    </ul>
                </li>
            <% else %>
                <li><%= link_to "Регистрация", controller: "users", action: "new" %></li>
                <li><%= link_to "Вход", login_path %></li>
            <% end %>
        </ul>
    </nav>
</header>